<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <container>
      <div style="margin-bottom: 5%">
        <h1>Welcome to Nick's App!</h1>
        <h3><em>A very basic Twitter clone</em></h3>
      </div>
    </container>
    
    <container>
      <div class='row' style="margin-bottom: 5%">
        <div class='col-md-4'>
          <p><em>Follow</em> your friends to see what they are up to</p>
        </div>
        <div class='col-md-4'>
          <p><em>Share</em> what is on your mind with micro blog posts (microposts)</p>
        </div>
        <div class='col-md-4'>
          <p><em>Upload</em> pictures to share your experiences</p>
        </div>
      </div>
    </container>
    
    <container>
      <%= link_to "Sign up now!", signup_path, id: "signup_btn", class: "btn btn-lg btn-primary" %>
      <%= link_to "Learn more", about_path, id: "learnmore_btn", class: 'btn btn-lg btn-success' %>
    </container>
  </div>
<% end %>